<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <div class="card image-container">
        <img [src]="product.productImage[selectedImageIndex].url" alt="" class="product-zoom-image">
      </div>
      <div class="mt-3">
        <div class="row">
        <div *ngFor="let img of product.productImage;let i=index">
            <div class="col-md-6">
              <img [src]="img.url" (click)="changeIndex(i)" alt="" style="height: 300px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="product-information">
        <div class="mt-3">
          <h2>{{product.productName}}</h2>
        </div>
        <div class="mt-3">
          <h2>{{product.productDescription}}</h2>
        </div>
        <div class="mt-3">
          <h2>{{product.productDiscountPrice}} {{product.prodcutActualPrice}}</h2>
        </div>
        <div class="mt-3">
          <button class="btn btn-outline-info btn-group-lg" (click)="byeProduct(product.product_id)">Bye now</button>
        </div>
      </div>
    </div>
  </div>
</div>
